@use "../../mixins.scss" as *;
.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 86vh;

  .main-login-keywrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid grey;
    border-radius: 20px;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 5px 7px 4px 0px #00000040;
    [data-theme="dark"] & {
      background-color: #1a1a1a;
      border: solid 1px rgba(128, 128, 128, 0.144);
    }
    @include respond(phone) {
      width: 96%;
    }

    img {
      width: 300px;
      margin-bottom: 20px;
      @include respond(phone) {
        width: 200px;
      }
    }
    span {
      font-size: 14px;
      margin-bottom: 3px;
      font-weight: 500;
    }

    input {
      width: 90%;
      border-radius: 15px;
      // border: 1px grey solid;
      border: none;
      padding: 12px 8px;
      margin-bottom: 7px;
      margin-top: 4px;
      box-shadow: 3px 4px 2px 0px #00000040;
      outline: none;
      font-size: 16px;
    }

    .wrap-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      // width: 100%;
    }
    .private-text {
      padding: 4px 0px;
    }

    button {
      width: 90%;
      color: #fff;
      background-color: rgb(79, 114, 226);
      padding: 10px 20px;
      border-radius: 15px;
      border: none;
      // width: 40%;
      font-size: 16px;
      margin: 4px 0px;
      margin-top: 6px;
      @include respond(phone) {
        padding: 7px 20px;
        margin-top: 8px;
      }
    }

    .or-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
    .or-divider {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px 0;
      width: 200px;
    }

    .or-divider::before,
    .or-divider::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #ccc;
      margin: 0 10px;
    }

    .or-divider span {
      padding: 0 10px;
      font-size: 16px;
      color: #666;
    }

    //   .link{
    //     width: 100%;
    //   }

    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 4px 15px;
      border-radius: 15px;
      // border: 1px solid grey;
      margin-bottom: 7px;
      width: 40%;
      box-shadow: 3px 2px 10px 0px #00000040;
      [data-theme="dark"] & {
        color: #fff;
        background-color: #1a1a1a;
        border: solid 1px rgba(128, 128, 128, 0.144);
      }
      @include respond(phone) {
        width: fit-content;
        // padding: 5px 0px;
      }
      &.keychain-down {
        width: 100%;
        margin-top: 10px;
        cursor: pointer;
      }

      img {
        width: 25px;
        // height: 25px;
        border-radius: 50%;
        margin-bottom: 0px;
      }
    }

    .wrap-signup {
      display: flex;
      align-items: center;
      gap: 2px;
      &.keychain-space {
        margin-top: 10px;
      }
      .last {
        color: red;
      }
      .email-login{
       padding: 4px 15px;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: 3px 2px 10px 0px #00000040;
      [data-theme="dark"] & {
        background-color: #1a1a1a;
        border: solid 1px rgba(128, 128, 128, 0.144);
      }
      }
    }
  }
}
