@use "../../mixins.scss" as *;
.vid-comment-wrap {
  padding-left: 20px;
  margin: 15px 0;
  @include respond(phone) {
      padding-left: 0px;
    }
  p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
  }
  .textarea-box{
     @include respond(phone) {
      font-size: 16px;
    }
  }
  h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
  }
}
.comment {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #20212447;
  > img {
    // Only apply avatar styles to direct child images (the avatar)
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
    @include respond(phone) {
      margin-right: 8px;
    }
  }
  // Content images should display normally
  .comment-content img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 8px 0;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 2px;
    span {
      font-size: 12px;
      color: #5a5a5a;
      font-weight: 500;
      margin-left: 8px;
    }
  }
  .comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;

    img {
      border-radius: 0;
      width: 20px;
      margin-right: 5px;
    }
    span {
      margin-right: 20px;
      color: #5a5a5a;
      @include respond(phone) {
        margin-right: 10px;
      }
    }
    .wrap {
      display: flex;
      align-items: center;
      gap: 3px;
      
      > :first-child {
        cursor: pointer;
      }
    }
    .main-reply {
      cursor: pointer;
    }
  }
}
