@use "../../mixins.scss" as *;
.communities-render {
  padding: 20px;

  .create-communitie-wrap {
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    // color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2ec;
    [data-theme="dark"] & {
      color: var(--text-primary);
      background: #3a3939c9;
      border: solid 1px rgba(128, 128, 128, 0.144);
    }
    h1 {
      width: 50%;
      font-size: 20px;

      @include respond(phone) {
        display: none;
      }
    }
    .phone-c {
      display: none;
      @include respond(phone) {
        font-size: 18px;
        display: block;
      }
    }
    button {
      padding: 10px 30px;
      border: none;
      border-radius: 10px;
      width: fit-content;
      height: fit-content;
      font-size: 14.5px;
      @include respond(phone) {
        font-size: 14px;
        padding: 10px 10px;
      }
    }
  }

  .search-wrapper {
    margin-bottom: 20px;

    input {
      width: 30%;
      padding: 10px;
      border: 1px solid #e2e2ec;
      border-radius: 8px;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s;
      @include respond(phone) {
        width: 40%;
        font-size: 16px;
      }
      &:focus {
        border-color: #0073e6;
      }
    }
  }

  .blog-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    @include respond(phone) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      gap: 20px;
    }

    .blog-card {
      //   background: #fff;
      border-radius: 8px;
      overflow: hidden;
      //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
      width: fit-content;

      &:hover {
        transform: translateY(-5px);
      }

      .img-wrap {
        border-radius: 15%;
        background: #e2e2ec;
        height: 110px;
        width: 110px;
        padding: 12px;
        margin-bottom: 8px;
        transition: transform 0.5s;
            [data-theme="dark"] & {

      background: #3a3939c9;
      border: solid 1px rgba(128, 128, 128, 0.144);
    }
        @include respond(phone) {
          height: 70px;
          width: 70px;
        }
      }

      .blog-image {
        height: 100%;
        width: 100%;
        border-radius: 15%;
        object-fit: cover;
      }

      .blog-title {
        font-size: 1rem;
        margin: 10px;
        text-align: center;
        @include respond(phone) {
          font-size: 14px;
        }
      }
    }
  }
}
