.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skeleton-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    [data-theme="dark"] & {
          background: #3a3939c9;
          border: solid 1px rgba(128, 128, 128, 0.144);
        }
  }
  
  .skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    [data-theme="dark"] & {
      background: linear-gradient(90deg, #e0e0e0 25%, #887d7d 50%, #cfc7c7 75%);
      animation: loading 1.5s infinite;
      background-size: 200% 100%;
          // background: #3a3939c9;
          // border: solid 1px rgba(128, 128, 128, 0.144);
        }
  }
  
  .skeleton-type {
    margin-left: 5px;
    width: 50%;
    height: 20px;
  }
  
  .skeleton-amount {
    width: 50%;
    height: 20px;
  }
  
  .skeleton-account {
    width: 50%;
    height: 20px;
  }
  
  .skeleton-date {
    width: 50%;
    height: 20px;
  }
  
  .skeleton-memo {
    width: 50%;
    height: 20px;
  }
  
  @keyframes loading {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  