$primary: #ef4444;
$danger: #ef4444;
$text-dark: #0f172a;
$text-muted: #64748b;
$border: #e5e7eb;
$bg: #ffffff;
$overlay: rgba(15, 23, 42, 0.6);

.upload-warning-modals {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: $overlay;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow-y: hidden;
  // background: chartreuse;

  .modal-card {
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow:
      0 10px 25px rgba(0, 0, 0, 0.15),
      0 4px 10px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: modalFade 0.25s ease;
    background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(31, 41, 55), rgb(17, 24, 39));
    

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      color: $text-dark;
      text-align: center;
      color: #fff;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
      color: $text-muted;
      text-align: center;
      color: #fff;
    }

    button{
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: red;
        color: #fff;
    }

    .actions {
      display: flex;
      gap: 0.75rem;
      margin-top: 0.5rem;

      button {
        flex: 1;
        height: 44px;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.2s ease;

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }

      .cancel {
        background: #f8fafc;
        color: $text-dark;
        border-color: $border;

        &:hover {
          background: #f1f5f9;
        }
      }

      .primary {
        background: $primary;
        color: #fff;

        &:hover {
          background: darken($primary, 6%);
        }
      }
    }
  }
}

/* Animation */
@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
