@use "../../mixins.scss" as mix;
.bene-content-wrap {
  .list-top-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    justify-content: space-around;
    padding-bottom: 3px;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
  }
  .user-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eaecf4;
       border: 1px solid #d1d3e2;
       padding: 10px 0px;
       border-radius: 0px 0px 6px 6px;

  }
  
  .reward-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    @include mix.respond(phone) {
      gap: 3px;
      height: 30px;
    }
    .wrap {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-top: 7px;
      height: 100%;
      input {
        width: 200px;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: #eaecf4;
        border: 1px solid #d1d3e2;
        padding: 1px 4px;
        @include mix.respond(phone) {
          width: 100px;
          font-size: 16px;
        }
      }
    }
    .num-wrap {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 7px;
      height: 100%;
      label {
        font-size: 14px;
      }
      input {
        width: 40px;
        height: 100%;
        border: none;
        outline: none;
        padding: 1px 4px;
        border-radius: 6px;
        -webkit-appearance: none; // Remove increment/decrement arrows on Safari
       -moz-appearance: textfield; // Remove increment/decrement arrows on Firefox
       appearance: none;
       background-color: #eaecf4;
       border: 1px solid #d1d3e2;
       @include mix.respond(phone) {
        width: 30px;
        font-size: 16px;
      }
      }
      button {
        padding: 10px 20px;
        border-radius: 6px;
        border: none;
        background-color: rgba(60, 204, 60, 0.945);
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mix.respond(phone) {
          padding: 10px 15px;
        }
      }
    }
  }
  .beneficiary-list {
    margin-top: 10px;
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ccc;
      border-bottom: 1px solid grey;
      padding: 6px 4px;
      border-radius: 7px;
      margin-bottom: 5px;
      span {
        font-size: 14px;
      }
      .delete-icon {
        color: red;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .last-btn-wrap{
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top: 13px;
    gap: 7px;
    :first-child{
        padding: 8px 20px;
        border-radius: 6px;
        border: none;
        background-color: #accc;
        // color: #FFF;
        // background-color: #4e73df;
    // border-color: #4e73df;
    }
    :last-child{
        padding: 8px 20px;
        border-radius: 6px;
        border: none;
        // background-color: #accc;
        color: #FFF;
        background-color: #4e73df;
    border-color: #4e73df;
    }
 

  }
  .default-bene-wrap{
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px;
    p{
        font-size: 14px;
        font-weight: 600;
    }
    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13.35px;
        gap: 4px;
    }
  }


}
.bene-text{
    text-align: center;
    font-size: 14.25px;
    color: black;
  }
.error{
    color: red;
    font-size: 12px;
    animation: shake 0.10s ease-in-out; 

}


.input-tooltip-wrap {
  position: relative;
  height: 100%;

  .tooltip {
    position: absolute;
    left: 0;
    background: #ff4d4f;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 20;
    animation: fadeIn 0.2s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 10px;
      border-width: 5px;
      border-style: solid;
      border-color: #ff4d4f transparent transparent transparent;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(3px); }
  to { opacity: 1; transform: translateY(0); }
}


