@use "../../mixins.scss" as mix;
.bene-content-wrap {
  .list-top-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    justify-content: space-around;
    padding-bottom: 3px;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 500;
  }
  .user-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaecf4;
    border: 1px solid #d1d3e2;
    padding: 10px 6px;
    border-radius: 6px;

        [data-theme="dark"] & {
    background-color: rgb(59, 59, 59);
    // border-color: #3d3d3d;
    color: #fff;
  }
  }

  .reward-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    @include mix.respond(phone) {
      gap: 3px;
      height: 30px;
    }
    .wrap {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-top: 7px;
      height: 100%;
      padding: 0px 4px;
      background-color: #eaecf4;
      border: 1px solid #d1d3e2;
      border-radius: 6px;
              [data-theme="dark"] & {
    background-color: rgb(59, 59, 59);
    // border-color: #3d3d3d;
    color: #fff;
  }
      input {
        width: 200px;
        height: 100%;
        border: none;
        outline: none;

        background-color: #eaecf4;
        padding: 1px 4px;
                [data-theme="dark"] & {
    background-color: rgb(59, 59, 59);
    // border-color: #3d3d3d;
    color: #fff;
  }
        @include mix.respond(phone) {
          width: 150px;
          font-size: 16px;
        }
      }
    }
    .num-wrap {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 7px;
      height: 100%;
      label {
        font-size: 14px;
      }
      input {
        width: 40px;
        height: 100%;
        border: none;
        outline: none;
        padding: 1px 4px;
        border-radius: 6px;
        -webkit-appearance: none; // Remove increment/decrement arrows on Safari
        -moz-appearance: textfield; // Remove increment/decrement arrows on Firefox
        appearance: none;
        background-color: #eaecf4;
        border: 1px solid #d1d3e2;
                [data-theme="dark"] & {
    background-color: rgb(59, 59, 59);
    // border-color: #3d3d3d;
    color: #fff;
  }
        @include mix.respond(phone) {
          width: 30px;
          font-size: 16px;
        }
      }
      button {
        padding: 10px 20px;
        border-radius: 6px;
        border: none;
        background-color: rgba(60, 204, 60, 0.945);
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mix.respond(phone) {
          padding: 10px 15px;
        }
      }
    }
  }
  .beneficiary-list {
    margin-top: 10px;
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(214, 93, 56, 0.144);
      border-bottom: 1px solid rgb(243 244 246);
      padding: 10px 6px;
      border-radius: 7px;
      margin-bottom: 5px;
      span {
        font-size: 14px;
      }
      .delete-icon {
        color: red;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .last-btn-wrap {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 13px;
    gap: 7px;
    :first-child {
      padding: 8px 20px;
      border-radius: 6px;
      border: none;
      background-color: #accc;
      // color: #FFF;
      // background-color: #4e73df;
      // border-color: #4e73df;
    }
    :last-child {
      padding: 8px 20px;
      border-radius: 6px;
      border: none;
      // background-color: #accc;
      color: #fff;
      background-color: #4e73df;
      border-color: #4e73df;
    }
  }
  .default-bene-wrap {
    margin-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.308);
    background-color: rgba(214, 93, 56, 0.082);
    border-radius: 4px;
    padding: 5px;
    p {
      font-size: 14px;
      font-weight: 600;
    }
    .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13.35px;
      gap: 4px;
    }
  }
}
.bene-text {
  text-align: center;
  font-size: 14.25px;
  color: black;
  font-weight: 400;
  margin: 10px 0px;
  [data-theme="dark"] & {
    color: #fff;
  }
  @include mix.respond(phone) {
    font-size: 12.25px;
    margin: 6px 0px;
  }
}
.error {
  color: red;
  font-size: 12px;
  animation: shake 0.1s ease-in-out;
}

.input-tooltip-wrap {
  position: relative;
  height: 100%;

  .tooltip {
    position: absolute;
    left: 0;
    background: #ff4d4f;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 20;
    animation: fadeIn 0.2s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 10px;
      border-width: 5px;
      border-style: solid;
      border-color: #ff4d4f transparent transparent transparent;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
