@use "../../mixins.scss" as mix;
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
  &.auth-bg{
    color: #fff;
    font-size: 24px;
  }
}

// .modal-body {

//   max-height: 300px;
//   overflow-y: auto;
// }

// .community-item {
//   padding: 10px;
//   cursor: pointer;
//   border-bottom: 1px solid #ddd;
// }

// .community-item:hover {
//   background: #f0f0f0;
// }


// .btn-modal {
//   padding: 10px 20px;
//   display: block;
//   margin: 100px auto 0;
//   font-size: 18px;
// }

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 600px;
  overflow: hidden;
  border-radius: 12px;
  text-align: center;
    [data-theme="dark"] & {
    background-color: #1a1a1a;
    // border-color: #3d3d3d;
    color: #fff;
  }
  @include mix.respond(phone) {
    min-width: 90%;
    padding: 14px 10px;
  }
  &.video-upload-moadal-size{
    max-width: 450px;
  min-width: 450px;
  @include mix.respond(phone) {
    max-width: 99%;
    padding: 14px 10px;
    min-width: 90%;
    top: 50%;
    // width: 80%;
  }
  }
  // &.bene{
    
  // }
  &.auth-bg{
    background-color: green;
    background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(31, 41, 55), rgb(17, 24, 39));
  }
  &.create-com{
    text-align: start;
  }
}
.modal-header{
  h2{
    text-align: center;
    font-size: 20px;
  }
  &.auth-bg{
    h2{
      color: #fff;
      font-size: 22px;
      margin-bottom: 5px;
    }
  }
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  input{
    width: 60%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
  }
}


.community-list-wrap{
  display: flex;
  // background-color: red;
  width: 100%;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
  .wrap-flow{
    display: flex;
    align-items: center;
    flex: wrap;
    gap:7px;
    width: fit-content;
    background-color: #c1c8e4;
    margin-right: 10px;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 10px;
    img{
      width:20px;
      border-radius: 50%;
      border-radius: 50%;
    background: #ccc;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    }
    span{
      color: black;
      font-size: 14px;
      display: flex;
      // width: 120px;
      word-wrap: normal;
    }
  }
}
.modal-body{
  button{
    margin-top: 10px;
    padding: 7px 20px;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    background-image: linear-gradient(90deg, rgb(141, 11, 33) 15%, rgb(227, 19, 55) 97%);
    @include mix.respond(phone) {
      font-size: 14.5px;
    }
  }
  &.auth-bg{
    p{
      color: #fff;
      font-size: 16.5px;
      line-height: 24.5px;
      @include mix.respond(phone) {
        font-size: 12.5px;
      }
    }
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 10px 0px;
  text-align: center;
  display: inline-block; /* Ensure transform affects only this text */
  animation: shake 0.5s ease-in-out; /* Shake for 0.5s */
}
