@use "../../mixins.scss" as mix;
 .tip-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    &.add{
        background: transparent;

    }
}

 .modal-content-trx {
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 32rem;
    @include mix.respond(phone) {
        width: 85%;
      }
    &.add{
        padding: 0px;

    }
}

.tip-modal {
    .header {
      color: #0066cc;
      margin-bottom: 1.5rem;
      text-align: center;
      
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        @include mix.respond(phone) {
            font-size: 18px;
          }
      }
    }
  
    .form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
  
    .field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @include mix.respond(phone) {
        gap: 0.35rem;
      }
  
      label {
        font-weight: 500;
        color: #333;
        @include mix.respond(phone) {
            font-size: 14px;
          }
      }
  
      input, select {
        padding: 0.75rem;
        border: 2px solid #e1e1e1;
        border-radius: 8px;
        transition: border-color 0.2s;
        @include mix.respond(phone) {
            padding:8px;
            font-size: 16px;
          }
  
        &:focus {
          border-color: #0066cc;
          outline: none;
        }
      }

      .balance-wrap{
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12.35px;
      }
    }
  
    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 1.5rem;
  
      button {
        padding: 0.75rem 1.5rem;
        border-radius: 8px;
        font-weight: 500;
        transition: transform 0.2s;
        @include mix.respond(phone) {
            padding: 0.55rem 1.5rem;
          }
  
        &:hover {
          transform: translateY(-1px);
        }
      }
  
      .cancel-btn {
        background-color: #f5f5f5;
        color: #333;
        border: none;
      }
  
      .send-btn {
        background-color: #ff3e3e;
        color: white;
        border: none;
      }
    }
  }

  /* Custom toast style */
.toastify-custom {
    max-width: 300px;
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 8px;
    @include mix.respond(phone) {
        max-width: 80px;
          font-size: 12px;
          padding: 8px 12px;
      }
  }
  
  
  
  