@use "../mixins.scss" as mix;
.profile-page-container {
  .com-profile-img-wrap {
    position: relative;
    img {
      width: 100%; /* Make the image take up 100% of its container's width */
      height: auto; /* Maintain aspect ratio */
      border-radius: 20px; /* Rounded corners */
      object-fit: cover; /* Ensure the image covers the entire area without stretching */
      display: block; /* Remove any extra space below the image */
      @include mix.respond(phone) {
        height: 100px;
      }
    }
    .wrap {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 7px;
      bottom: 10%;
      left: 10px;
      img {
        width: 30%;
        @include mix.respond(phone) {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      span {
        font-size: 28px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: transparent;
        @include mix.respond(phone) {
          font-size: 20px;
        }
      }
    }
  }
  .toggle-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 1px solid grey;
    padding: 0px 10px;
    padding-bottom: 7px;
    @include mix.respond(phone) {
      padding: 0px 5px;
      padding-bottom: 7px;
    }
    .wrap {
      display: flex;
      align-items: center;
      gap: 15px;
      color: #000;
      a {
        color: #000;
        padding: 5px 15px;
        border-radius: 7px;
        box-shadow: 0px 1px 7px 0px #00000040;
        font-size: 13.5px;
        @include mix.respond(phone) {
          padding: 4px 4px;
        }
      }
      .vn {
        @include mix.respond(phone) {
          display: none;
        }
      }
      @include mix.respond(phone) {
        padding-bottom: 0px;
      }

      span {
        padding-bottom: 3px;
        box-sizing: border-box;
        padding: 5px 15px;
        border-radius: 7px;
        box-shadow: 0px 1px 7px 0px #00000040;
        font-size: 13.5px;
        cursor: pointer;
        @include mix.respond(phone) {
          padding-bottom: 0px;
          padding: 4px 4px;
        }
      }
    }
    .wrap-in {
      display: flex;
      align-items: center;
      gap: 10px;
      .wrap-upload-video {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: red;
        border-radius: 50%;
        background-color: rgb(252, 235, 235);
        border: 1px solid rgb(247, 193, 189);
      }
    }

    .followers {
      padding: 5px 15px;
      border-radius: 7px;
      box-shadow: 0px 1px 7px 0px #00000040;
      font-size: 13.5px;
    }
  }
}

.processing-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: fit-content;

  .video-thumbnail-skeleton {
    width: 120px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .details {
    display: flex;
    flex-direction: column;
    .wrap {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .title {
      font-weight: bold;
      font-size: 1rem;
    }

    .subtitle {
      font-size: 0.875rem;
      color: #777;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
  background-size: 1000px 100%;
  border-radius: 4px;
}
