@use "../../mixins.scss" as *;
.upvote-tooltip-wrap {
  position: relative;
  display: inline-block;

  .tooltip-box {
    position: absolute;
    top: -60px;
    // left: 10%;
    right: -100px;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    width: 210px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    [data-theme="dark"] & {
      background-color: #333;
      border: solid 1px rgba(128, 128, 128, 0.144);
    }
    @include respond(phone) {
      // width: 200px;
      padding: 6px;
      left: -100px;
      top: -46px;
    }

      &.cap {
        width: 200px;
        left: 120px;
        top: -70px;
        @include respond(phone) {
          top: -60px;
          left: 110px;
        }
      }
      &.group {
        width: 200px;
        left: 120px;
        top: -70px;
        @include respond(phone) {
          width: 165px;
          top: -68px;
          left: 80px;
        }
      }


    &.comment {
      width: 200px;
      top: -65px;
      right: -120px;
      @include respond(phone) {
        top: -60px;
        left: -85px;
      }
    }


    p {
      @include respond(phone) {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        text-align: center;
      }
      padding: 0px;
      margin: 0px;
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      .wrap-circle {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      // .circle-vote-btn {
      //   font-size: 100px;
      //   color: #1fae51;
      //   cursor: pointer;
      //   transition: transform 0.2s;
      //   &:hover {
      //     transform: scale(1.1);
      //   }
      //   @include respond(phone) {
      //     font-size: 10px;
      //   }
      // }
    }

    input[type="range"] {
      width: 100%;
      z-index: 9999;
      position: relative;
    }

    button {
      margin-top: 8px;
      padding: 6px 12px;
      background: #1fae51;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .upvote-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
}

// TV Mode styling for upvote tooltip
.upvote-tooltip-wrap {
  .tooltip-box.tv-active {
    outline: 3px solid #e94560;
    outline-offset: 2px;
    box-shadow: 0 0 20px rgba(233, 69, 96, 0.5);

    // Focused slider styling
    input[type="range"].tv-element-focused {
      outline: 2px solid #e94560;
      outline-offset: 3px;
      border-radius: 4px;
    }

    // Focused vote button styling
    .circle-vote-btn.tv-element-focused {
      color: #e94560;
      transform: scale(1.2);
      filter: drop-shadow(0 0 8px rgba(233, 69, 96, 0.6));
    }
  }
}
