*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /* font-family: 'Inter'; */
  /* font-family: sans-serif; */
  /* font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; */
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
            font-family: "Roboto", "Arial", sans-serif;

}

body{
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Poppins, Inter, sans-serif; */
}
html{
  /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* font-family: Poppins, Inter, sans-serif; */
}

a{
  text-decoration: none;
  color: #5a5a5a;
}

button{
  cursor: pointer;
}

img{
  cursor: pointer;
  /* width: 100%; */
      /* width: fit-content; */
}

.flex-div{
  display: flex;
  align-items: center;
}
.custom-toast-body {
  font-size: 15px; /* Adjust size as needed */
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

