@use "../../mixins.scss" as mix;
.nav-container {
  display: flex;
  align-items: center;
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 10;

  .nav-left {
    display: flex;
    align-items: center;
    @include mix.respond(phone) {
      display: none;
    }

    @include mix.respond(tab) {
      display: none;
    }
    .menu-icon {
      width: 30px;
      margin-right: 20px;
      cursor: pointer;
    }
    .logo {
      width: 130px;
      cursor: pointer;
    }
  }
  .phone-nav-left {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    @include mix.respond(desktop) {
      display: none;
    }

    .menu-icon {
      width: 30px;
      margin-right: 20px;
    }
    .logo {
      width: 130px;
    }
  }

  .nav-middle {
    @include mix.respond(tab) {
      position: relative;
    }

    .search-wrapper {
      position: relative;
      // width: 100%;
      width: 400px;
      max-width: 40rem;
      @include mix.respond(phone) {
        display: none;
      }

      .search-icon {
        pointer-events: none;
        position: absolute;
        inset: 0;
        left: 0.75rem;
        display: flex;
        align-items: center;
        color: #64748b;

        .icon {
          width: 1rem;
          height: 1rem;
        }
      }

      .search-input {
        width: 100%;
        border-radius: 9999px;
        border: none;
        box-shadow: 0px 1px 7px 0px #00000040;
        // background: rgba(2, 6, 23, 0.8);
        padding: 0.5rem 0.75rem;
        padding-left: 2.25rem;
        font-size: 0.875rem;
        // color: #f1f5f9;

        &::placeholder {
          color: #64748b;
        }

        &:focus {
          outline: none;
          border-color: #334155;
          box-shadow: 0 0 0 2px rgb(247, 193, 189);
        }
      }
    }
  }

  .nav-right {
    gap: 5px;

    span {
      padding: 5px 20px;
      border-radius: 15px;
      background-color: #ccc;
      font-size: 14px;
      font-weight: 500;
      @include mix.respond(phone) {
        display: none;
      }
    }
    .profile {
      width: 40px;
    }
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  button {
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: black;
    border: none;
    background-color: #fff;
    // border: 1px solid grey;
    box-shadow: 3px 4px 2px 0px #00000040;
    // border-right-width: 2px;
    // border-right-color: red;
  }

  .side-nav {
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-color: rgb(233, 236, 239);
    border-radius: 0px 12px 30px 0px;
    backdrop-filter: blur(10px);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    color: white;
    padding: 0px 20px;
    // border: 2px solid red;
    border-right: 5px solid red;

    @include mix.respond(desktop) {
      display: none;
    }
    @include mix.respond(tab) {
      width: 30%;
    }

    .shortcut-links {
      padding-top: 30px;
      .icon {
        width: 20px;
        margin-right: 15px;
        &:hover {
          color: red;
        }
      }
      .search-wrap-sm {
        position: relative;
        padding-top: 12px;
        .wrap {
          display: flex;
          align-items: center;
          background-color: red;
          background-color: #fff;
          gap: 2px;
          border-radius: 8px;
          height: 30px;
          padding: 0px 5px;
          input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            padding-left: 4px;
            @include mix.respond(phone) {
              font-size: 16px;
            }
          }
        }
      }
    }
    .side-link-n {
      display: flex;
      padding: 10px 0;
      color: black;
      border-radius: 4px;
      align-items: center;
      margin-bottom: 20px;
      width: fit-content;
      flex-wrap: wrap;
      cursor: pointer;
      span {
        font-size: 14px;
        font-weight: 500;
      }
      .store-icon {
        width: 20px;
        margin-right: 15px;
      }

      &:hover {
        padding-left: 10px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 1px 7px 0px #00000040;
        color: red;
      }
    }

    hr {
      border: 0;
      height: 1px;
      background: #ccc;
      width: 85%;
    }

    .subscibed-list {
      h3 {
        font-size: 13px;
        margin: 20px 0px;
        color: #5a5a5a;
      }

      .icon {
        width: 25px;
        margin-right: 15px;
      }
    }
  }

  .side-nav-else {
    position: fixed;
    left: -100%;
    display: none;
  }

  .close-nav {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 18px;
    color: black;
  }
  .dropdown-menu {
    position: absolute;
    right: 10px;
    top: 50px;

    // margin-top: 0.5rem; // mt-2
    width: 12rem; // w-48
    background-color: #fff; // bg-white
    border-radius: 0.5rem; // rounded-lg
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1); // shadow-lg
    padding: 0.5rem 0; // py-2
    border: 1px solid #e5e7eb; // border-gray-200

    .list {
      display: block; // block
      padding: 0.5rem 1rem; // px-4 py-2
      color: #374151; // text-gray-700
      text-decoration: none;
      font-size: 13.5px;

      &:hover {
        background-color: #f3f4f6; // hover:bg-gray-100
      }
    }
  }
}
