@use "../../mixins.scss" as *;
.search-list {
  position: absolute;
  right: 700px;
  top: 50px;
  // margin-top: 0.5rem; // mt-2
  width: 12rem; // w-48
  background-color: #fff; // bg-white
  border-radius: 0.5rem; // rounded-lg
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); // shadow-lg
  padding: 0.5rem 0; // py-2
  border: 1px solid #e5e7eb;
              [data-theme="dark"] & {
          background: #3a3939c9;
          border: solid 1px rgba(128, 128, 128, 0.144);
        }
  @include respond(tab) {
      right: 130px;
      top: 40px;
    }
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.list {
    padding: 3px 9px;
    right: 700px;
    text-align: center;
  }
}

.search-list-sm {
  position: absolute;
  right: 0px;
  top: 45px;
  width: 100%; // w-48
  background-color: #fff; // bg-white
  border-radius: 0.5rem; // rounded-lg
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); // shadow-lg
  padding: 0.5rem 0; // py-2
  border: 1px solid #e5e7eb;
                [data-theme="dark"] & {
          background: #3a3939;
          border: solid 1px rgba(128, 128, 128, 0.144);
        }
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.list {
    padding: 3px 9px;
    right: 700px;
    text-align: center;
  }
}

.search-results {
  padding: 0px 4px 4px 4px;
}

.hive-search {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  // margin-bottom: 15px;
}

.result-section {
  // margin-bottom: 25px;
}

.result-section h3 {
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #eee;
  padding: 5px 3px;
  background-color: rgba(115, 150, 167, 0.055);
              [data-theme="dark"] & {
          color: var(--text-primary);
        }
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  // padding: 8px 0;
  border-bottom: 1px solid #f5f5f5;
}

.search-results {
  .wrap {
    color: #1a5099;
    text-decoration: none;
    display: block;
    font-size: 13px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 4px;
                  [data-theme="dark"] & {
          color: var(--text-primary);
        }
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

.search-results a:hover {
  text-decoration: underline;
  background-color: #f9f9f9;
}

.search-status,
.no-results,
.error-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.search-status {
  color: #666;
  background-color: #f5f5f5;
}

.no-results {
  color: #777;
  background-color: #f9f9f9;
}

.error-message {
  color: #fff;
  background-color: #d9534f;
}
